{# templates/wild/category.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ category }}{% endblock %}

{% block body %}

    <div class="container-fluid row">
    {% for program in programs %}
        <div class="col-lg-3 offset-1">
            <h1 class="mt-0">{{ program.title }}</h1>
            <img src="{{ program.poster }}" class="picture_series" width="400">
            <p>{{ program.summary }}</p>
        </div>

    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>


{% endblock %}