{# templates/wild/episode.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ program.title }} - Saison {{ season.id }}</h1>
    <h3>Episode {{ episode.number }} : {{ episode.title }}</h3>
    <p class="text-justify">{{ episode.synopsis }}</p>

    <div class="col-sm-6 offset-5">
    <button type="button" class="btn btn-dark mr-2"><a class="btn-return" href="{{ path('wild_season', {'id':season.id})}}">
        Retour à la saison
    </a></button>
    <button type="button" class="btn btn-dark mr-2"><a class="btn-return" href="{{ path('wild_show', {'slug': program.title|lower|replace({' ':'-'})})}}">
        Retour à la série
        </a></button>
    </div>

    <hr>
    <h3>Les commentaires</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Auteur</th>
            <th>Note</th>
            <th>Commentaires</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in episode.comments %}
            <tr>
                <td>{{ comment.author.email }}</td>
                <td>{{ comment.rate }}</td>
                <td>{{ comment.comment }}</td>
                {% if is_granted('ROLE_SUBSCRIBER') %}
                    <td>{{ include('wild/_delete_comment.html.twig') }}</td>
                {%endif%}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <h3>Ajouter un commentaire</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Créer') }}</button>
        {{ form_end(form) }}
    {% else %}
        <h5>Merci de vous connecter si vous souhaitez laisser un commentaire.</h5>

    {% endif %}

{% endblock %}