{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries : </h1>
<div class="container-fluid row">
    {% for program in programs %}
        <div class="col-lg-3 offset-1">
            <a href="{{ path('wild_show', {'slug': program.title|lower|replace({' ':'-'})})}}"><h3 class="serie_title">{{ loop.index }} / {{ program.title }}</h3>
                <h4 class="serie_category">Catégorie : {{ program.category.name }}</h4>
                <img src="{{ program.poster }}" class="picture_series" width="400"></a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}


    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    <br>

{% endblock %}

