{# templates/wild/season.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Saison {{ season.id }}</h1>
    {% for episode in episodes %}
        <a href="{{ path('wild_episode', {'id': episode.id}) }}"><p>Episode {{ episode.number }} : {{ episode.title }}</p></a>
    {% endfor %}
    <button type="button" class="btn btn-dark mr-2"><a class="btn-return" href="{{ path('wild_show', {'slug': program.title|lower|replace({' ':'-'})})}}">
        Retour
        </a></button>
{% endblock %}