{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster" width="500">

        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
            <div>
                <section class="seasons">
                    {% for season in seasons %}
                        <div>
                            <a class="season" href="{{path('wild_season', {'id' : season.id })}}"><h2>Saison {{ season.id }} ({{ season.year }})</h2></a>
                            <p class="text-justify">{{ season.description }}</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>

<div class="col-sm-6 offset-6">
<button type="button" class="btn btn-dark mr-2"><a class="btn-return" href="{{ path('wild_index') }}">
        Retour
    </a></button>
</div>

{% endblock %}

