{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Wild Series</h1>
    <div>
    {# templates/index.html.twig #}
       <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
        Testing show() method from WildController with a real programs slug.
            </a>
    </div>
    <div>
    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
        </a>
    </div>
    <div>
   <a href="{{ path('category') }}">
        Ajouter une catégorie
        </a>
    </div>

    {#<p>
        Les catégories que vous pouvez trouver sur le site sont :
        {% for category in categories %}
            {{ category.name }},
        {% endfor %}
    </p>#}
    <div>
        <a href="{{ path('program_index') }}">
            Page administrateur de la section Programmes
            </a>
    </div>
    <div>
        <a href="{{ path('season_index') }}">
            Page administrateur de la section Saison
            </a>
    </div>
    <div>
        <a href="{{ path('episode_index') }}">
            Page administrateur de la section Episodes
            </a>
    </div>
    <div>
        <a href="{{ path('actor_index') }}">
            Page administrateur de la section Acteurs
        </a>
    </div>
{% endblock %}